.link {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 44px;
    height: 44px;
    background-color: #FFF;
    border-radius: 45px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #AAA;
    transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
}

.link:hover {
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #AAA;
}

@media screen and ((max-width: 650px) or (max-height: 500px)) {
    .link {
		bottom: 20px;
        right: 20px;
    }
}
