@font-face {
	font-family: "tommy";
	src: url("../fonts/Tommy-Regular.otf") format("opentype");
}

@font-face {
	font-family: "konami";
	src: url("../fonts/KonSystem-Regular.ttf") format("truetype");
}

:root {
    --konami-dark-color: #920413;
    --konami-main-color: #AD0012;
    --konami-shadow-color: #000;
    --konami-interim-color: #BBB;
    --link-color: #FFF;
    --link-shadow-color: #AAA;
    --loading-bg-color: #000;
    --loading-bar-bg-color: #888;
    --menu-color: #444;
    --menu-hover-color: #555;
    --menu-select-color: #948ADA;
    --menu-text-color: #FFF;
    --page-bg-color: #FFF;

	--anim-pos-distance: 200px;
	--anim-neg-distance: -200px;
}

html {
	color: var(--menu-text-color);
	overflow: hidden;
}

body {
    background-color: var(--page-bg-color);
    font-family: tommy;
}

@media (prefers-color-scheme: dark) {

	:root {
		--page-bg-color: #000;
	}
}