#loading {
	background-color: var(--loading-bg-color);
	height: 100%;
	position: fixed;
	width: 100%;
}

#progress-container {
	height: 10px;
	left: calc(50% - 100px);
	position: fixed;
	top: 45%;
	width: 200px;
}

.progress-bar {
	border-radius: 45px;
	height: 100%;
	position: absolute;
}

#progress-bar-bg {
	background-color: var(--loading-bar-bg-color);
	width: 100%;
}

#progress-bar-fg {
	background-color: var(--menu-text-color);
}

#progress-text {
	font-weight: bold;
	left: calc(50% - 17px);
	position: fixed;
	top: calc(45% + 20px);
}

#earth {
	cursor: grab;
}