#canvas {
	transition: opacity 1s ease-in;
}

#konami {
	background-color: var(--konami-main-color);
	border-radius: 5px;
	box-shadow: 0px 0px 8px 2px var(--konami-shadow-color);
	display: flex;
	flex-flow: column;
	font-family: konami;
	font-size: 30px;
	justify-content: space-between;
	left: calc(30% - 30px);
	padding: 30px;
	padding-bottom: 15px;
	position: fixed;
	top: calc(50% - 250px);
	transition: opacity 0.5s ease-in;
	width: 40%;
}

#konami-top {
	background-color: var(--konami-dark-color);
	box-shadow: 0px 0px 10px 5px var(--konami-dark-color);
	height: 300px;
	margin: 2%;
	overflow-y: auto;
}

#interim {
	color: var(--konami-interim-color);
}

#konami-bottom {
	display: flex;
	flex-wrap: wrap;
	margin-top: 6px;
}

.icon-container {
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	fill: var(--menu-text-color);
	height: 30px;
	margin: 2px;
	padding: 8px;
	transition: background-color 0.2s ease-in;
	width: 30px;
}

.icon-container:hover {
	background-color: var(--konami-dark-color);
}

.moving-image {
	border-radius: 5px;
    position: fixed;
	z-index: -1;
}

.move-bottom-right {
    animation: moveBottomRight linear 5s infinite;
}

.move-top-left {
    animation: moveTopLeft linear 5s infinite;
}

.move-bottom-left {
    animation: moveBottomLeft linear 5s infinite;
}

.move-top-right {
    animation: moveTopRight linear 5s infinite;
}

@keyframes moveBottomRight {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translate(var(--anim-pos-distance), var(--anim-pos-distance)); }
}

@keyframes moveTopLeft {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translate(var(--anim-neg-distance), var(--anim-neg-distance)); }
}

@keyframes moveBottomLeft {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translate(var(--anim-pos-distance), var(--anim-neg-distance)); }
}

@keyframes moveTopRight {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translate(var(--anim-neg-distance), var(--anim-pos-distance)); }
}

@media screen and (max-width: 1000px) {

	#konami {
		width: 70%;
		left: calc(15% - 30px);
	}
}

@media screen and (max-height: 500px) {

	#konami {
		top: calc(50% - 125px);
	}

	#konami-top {
		height: 100px;
	}
}
