@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

@font-face {
	font-family: "konami";
	src: url("../fonts/KonSystem-YB8j.ttf") format("truetype");
}

:root {
	--bg-color: #EEE;
}

html {
	overflow: hidden;
}

body {
	background-color: var(--bg-color);
}

a {
	all: unset;
}

#canvas {
	transition: opacity 1s ease-in;
}

#konami {
	position: fixed;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	background-color: #AD0012;
	color: white;
	width: 40%;
	left: calc(30% - 30px);
	top: calc(50% - 275px);
	box-shadow: 0px 0px 8px 2px #000000;
	padding: 30px;
	padding-bottom: 15px;
	font-family: konami;
	font-size: 30px;
	transition: opacity 0.5s ease-in;
	border-radius: 5px;
}

#konami-top {
	box-shadow: 0px 0px 10px 5px #920413;
	background-color: #920413;
	overflow-y: auto;
	height: 300px;
	margin: 2%;
}

#interim {
	color: #BBB;
}

#konami-bottom {
	display: flex;
	flex-wrap: wrap;
}

.icon-container {
	margin: 2px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.2s ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-container:hover {
	background-color: #920413;
}

.material-symbols-sharp { 
	user-select: none;
	margin: 8px;
	font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
	font-size: 30px;
}

.no-fill {
	font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}

.falling-image {
    position: absolute;
    top: -300px;
    animation: fall linear 5s infinite;
	border-radius: 5px;
	z-index: -1;
}

@keyframes fall {
    0% {
		opacity: 1;
        transform: translateY(0px);
    }

    90% {
		opacity: 1;
    }

    100% {
		opacity: 0;
        transform: translateY(1000px);
    }
}

@media screen and (max-width: 1000px) {
	#konami {
		width: 70%;
		left: calc(15% - 30px);
	}

	#konami-bottom {
		margin-bottom: 4%;
	}
}

@media screen and (max-height: 500px) {
	#konami {
		top: calc(50% - 150px);
	}

	#konami-top {
		height: 100px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
	}
}