@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

@font-face {
	font-family: "konami";
	src: url("./KonSystem-YB8j.ttf") format("truetype");
}

a {
	all: unset;
}

#konami {
	position: fixed;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	background-color: #AD0012;
	color: white;
	height: 40%;
	width: 40%;
	left: 27.5%;
	top: 25%;
	box-shadow: 0px 0px 8px 2px #000000;
	padding: 30px;
	font-family: konami;
	font-size: 30px;
	transition: opacity 0.5s ease-in;
	border-radius: 5px;
}

#konami-top {
	box-shadow: 0px 0px 10px 5px #920413;
	background-color: #920413;
	overflow-y: auto;
	height: 60%;
	margin: 2%;
}

#status {
	transition: opacity 0.3s ease-in;
}

#interim {
	color: #BBB;
}

#konami-bottom {
	display: flex;
}

.icon-container {
	margin: 2px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.2s ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-container:hover {
	background-color: #920413;
}

.material-symbols-sharp { 
	user-select: none;
	margin: 8px;
	font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
	font-size: 30px;
}

.no-fill {
	font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
